.btn {
  text-transform: uppercase;
  color: $color-white;
  padding: 10px 25px;
  border-radius: 0;
  transition: 0.5s;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  border: 1px solid $color-gray;
  background: $color-gray;
  &:hover {
    border: 1px solid $color-gray;
    background: $color-white;
    color: $color-gray;
  }
}