//headings
$font-size-h1 :               72px;
$font-size-h2 :               48px;
$font-size-h3 :               30px;
$font-size-h4 :               24px;
$font-size-h5 :               18px;
$font-size-h6 :               14px;

//color usage
$color-facebook:              #3b5999;
$color-twitter:               #55acee;
$color-googlePlus:            #dd4b39;
$color-behance:               #131418;
$color-pinterest:             #bd081c;
$color-instagram:             #e4405f;
$color-black:                 #000000;
$color-gray:                  #252525;
$color-gray2:                 #ebebeb;
$color-gray3:                 #dfdfdf;
$color-gray4:                 #f6f6f6;
$color-white:                 #ffffff;

//text size
$text-size-1:                 12px;
$text-size-2:                 19px;
$text-size-3:                 32px;
$text-size-4:                 34px;
$text-size-5:                 50px;
