@media screen and (max-width: 815px) {
  header {
    padding: 20px 20px;
    #burger-menu {
      display: block;
    }
  }
}
@media screen and (max-width: 815px) {
  .navigation li {
    display: none;
  }
}
