main {
  background: $color-gray4;
  .grid-parent {
    padding: 100px;
    .grid {
      width: 100%;
      padding: 0;
      margin: 0;
      figure {
        box-sizing: border-box;
        max-width: 100%;
        margin: 15px;
        img {
          width: 100%;
        }
        button {
          position: absolute;
          left: 10px;
          top: -60px;
        }
        figcaption {
          background: $color-white;
          position: relative;
          padding: 25px;
          width: 100%;

          h2 {
            font-family: 'Playfair Display SC', serif;
            font-size: $font-size-h2;
            color: $color-black2;
            margin-bottom: 20px;
            font-weight: bold;
          }

          span {
            text-transform: uppercase;
            font-size: $font-size-h5;
            font-weight: bold;
          }

          p {
            font-size: $font-size-h3;
            color: $color-gray2;
            line-height: 25px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .load {
    background: $color-white;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    a {
      text-transform: uppercase;
      font-size: $font-size-h4;
      text-decoration: none;
      color: $color-black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}