$icomoon-font-family: "social-media" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-menu: "\e9ed";
$icon-cross: "\ea3f";
$icon-google-plus: "\eabb";
$icon-facebook: "\eac0";
$icon-instagram: "\eac2";
$icon-twitter: "\eac6";
$icon-behance: "\ead8";
$icon-pinterest: "\eb01";

